.sigCanvas {
    margin: 0 auto;
    background-color: #ffffff;
    width: 90%;
    aspect-ratio: 1/2;
}

.signatureButtons {
    margin: 5px;
}

.signatureImage {
    height: 200px;
    margin: 10px;
}

@media (min-width: 650px) {
    .sigCanvas {
        width: 550px;
        aspect-ratio: 2/1;
    }
}

@media (min-width: 950px) {
    .sigCanvas {
        width: 750px;
    }

    .signatureImage {
        height: 100px;
        margin: 10px;
    }
}